<div id="container">
  <div id="head">
    <svg
      class="back cursor-pointer"
      (click)="goBack()"
      width="8"
      height="14"
      viewBox="0 0 8 14"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M6.29849 0.989502L0.288086 6.99991L6.29849 13.0103L7.71271 11.5961L3.11651 6.99991L7.71271 2.40372L6.29849 0.989502Z"
        fill="#003594"
      />
    </svg>

    <p class="title">Termini e condizioni</p>
  </div>
  <div id="terms-container">
    <p class="title privacy">Privacy Policy - app badgeverso</p>

    <p id="subtitle">INFORMATIVA PRIVACY - SYSTEM MANAGEMENT</p>
    <p id="text">
      Gentile collega, prima di procedere al trattamento dei tuoi dati forniti
      attraverso il modulo di registrazione, ti sottoponiamo l'informativa
      Privacy prevista da System Management SpA (di seguito semplicemente
      Società), necessaria per la tutela dei tuoi dati personali, secondo quanto
      previsto dalla normativa in materia. Le informazioni di seguito riportate
      ti saranno utili per comprendere:
    </p>
    <ul>
      <li>
        quali sono i soggetti che trattano i tuoi dati e come contattarli;
      </li>
      <li>come vengono utilizzati i tuoi dati e per quale finalità;</li>
    </ul>
    <p id="text">
      System Management SpA è impegnata nella protezione dei Dati Personali che
      le vengono affidati. Pertanto, la loro gestione e la loro sicurezza
      vengono garantite con la massima attenzione, conformemente a quanto
      richiesto dalla normativa pro tempore vigente in materia di privacy ed in
      particolare al Regolamento UE 2016/679 (GDPR) e s.m.i..
    </p>
    <p id="subtitle">Titolare del trattamento</p>
    <p id="text">
      System Management SpA è la Società che tratta i tuoi dati e, ai fini di
      Legge, è considerata Titolare del trattamento dei dati. La sede legale
      della Società è in Napoli - CDN Isola E3, Via Giovanni Porzio, 4.
    </p>
    <p id="subtitle">Finalità del trattamento</p>
    <p id="text">
      Ti precisiamo che tutti i dati personali che ci fornirai saranno trattati
      in conformità alla vigente normativa in materia di privacy, pertanto la
      Società si impegna a trattarli secondo principi di correttezza, liceità,
      trasparenza, nel rispetto delle finalità di seguito indicate,
      raccogliendoli nella misura necessaria ed esatta per il trattamento,
      utilizzandoli solo da personale allo scopo autorizzato e formato ed al
      fine di garantire la necessaria riservatezza delle informazioni fornite.
      In particolare, la Società potrà usare i tuoi dati per: registrazione app
      badgeverso per poter usufruire di attività informative e divulgative
      interne aziendali come ad esempio bacheca news, link utili (giba etc...)
      convenzioni (ristoranti e attività convenzionate SM). Le comunicazioni per
      le sopra elencate finalità potranno avvenire in modalità automatizzate ed
      assimilabili (es: app badgeverso). Non utilizzeremo i tuoi dati personali
      per finalità diverse e ulteriori rispetto a quelle descritte nella
      presente informativa, se non informandoti previamente e, ove necessario,
      ottenendo il tuo consenso.
    </p>
    <p id="subtitle">Utilizzo di dati particolari</p>
    <p id="text">
      Non è previsto il trattamento di dati particolari. I dati trattati sono
      esclusivamente: nome, cognome, email aziendale e ID badge.
    </p>
    <p id="subtitle">Misure di sicurezza</p>
    <p id="text">
      System Management SpA ha come obiettivo la tutela dei Dati personali che
      le vengono forniti, improntando il loro trattamento ai principi di
      correttezza, di liceità e trasparenza. Ti informiamo, pertanto, che i tuoi
      Dati saranno trattati, tramite l’utilizzo di strumenti e procedure idonei
      a garantirne la massima sicurezza e riservatezza, mediante archivi e
      supporti cartacei, con l’ausilio di supporti digitali, mezzi informatici e
      telematici.
    </p>
    <p id="subtitle">Periodo di conservazione dei tuoi dati e cancellazione</p>
    <p id="text">
      I tuoi Dati personali saranno conservati, a partire dal loro
      ricevimento/ultimo aggiornamento, per tutto il periodo di validità del
      badge aziendale a te assegnato, dopo di ché verranno cancellati o resi
      anonimi in modo irreversibile. La conservazione dei dati indicati è
      prevista dal nuovo Regolamento UE n. 679 del 2016 e s.m.i. e per tanto non
      è richiesto il tuo consenso.
    </p>
    <p id="subtitle">Trasferimento dei tuoi dati</p>
    <p id="text">
      I tuoi Dati personali non sono soggetti a trasferimento se non dopo tuo
      consenso esplicito. I Dati verranno, inoltre, trattati da risorse interne
      agli uffici della Società, adeguatamente istruite, che operano in qualità
      di personale autorizzato al trattamento dei Dati. I tuoi Dati personali
      non sono soggetti a diffusione.
    </p>
    <p id="subtitle">I tuoi diritti</p>
    <p id="text">
      Con riferimento ai dati trattati, la Società garantisce la possibilità di:
    </p>
    <ul>
      <li>
        ottenere la conferma dell’esistenza o meno dei dati personali che ti
        riguardano e la loro copia in forma intelligibile;
      </li>
      <li>
        ottenere l’aggiornamento, la rettifica o l’integrazione dei tuoi dati;
      </li>
      <li>
        richiedere la cancellazione dei tuoi dati, nei termini consentiti dalla
        normativa, oppure chiedere che siano anonimizzati;
      </li>
      <li>
        opporsi, in tutto o in parte, per motivi legittimi, al trattamento dei
        dati personali che ti riguardano;
      </li>
      <li>
        limitare il trattamento, in caso di violazione, richiesta di rettifica o
        opposizione;
      </li>
      <li>
        chiedere la portabilità dei dati trattati elettronicamente, forniti
        sulla base di consenso o contratto;
      </li>
      <li>
        revocare il consenso in qualsiasi momento al trattamento dei tuoi dati,
        qualora sia stato richiesto.
      </li>
    </ul>
    <p id="text">
      Potrai in qualsiasi momento esercitare i tuoi diritti inviando:
    </p>
    <ul>
      <li>
        una raccomandata a.r. al Titolare del trattamento, ovvero System
        Management S.p.A. con sede legale in Via G. Porzio, 4 Isola E3 Centro
        Direzionale - 80143 - Napoli (NA);
      </li>
      <li>
        un messaggio di posta certificata all’indirizzo:
        sysmanagement@legalmail.it
      </li>
    </ul>
    <p id="text">
      Ti informiamo che la Società si impegna a rispondere alle tue richieste
      entro il termine di un mese, salvo caso di particolare complessità, per
      cui potrebbe impiegare massimo 3 mesi. In ogni caso, la Società provvederà
      a spiegare il motivo dell’attesa entro un mese dalla tua richiesta. Si
      ricorda che la revoca del consenso, non pregiudica la liceità del
      trattamento basata sul consenso prima della revoca.
    </p>
  </div>
</div>
