.cards {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    height: auto;
}

.cards-loader {
    width: 100%;
    height: 121px;
}

.card{
    margin-top: 10px;
    margin-bottom: 15px;

}
