@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@500&family=Montserrat:wght@700&display=swap");

#add {
  display: flex;
  flex-direction: column;
}

#head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 36px;

  height: 100%;
  width: 100%;
  padding-bottom: 2.5rem;
}

#title {
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 29px;
  color: var(--bg-primary-color);
}

.back {
  margin-right: 15px;
}

.close {
  width: 20px;
  height: 20px;
}

.subtitle {
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 29px;
  color: var(--bg-primary-color);
  padding-bottom: 2rem;
}

.steps {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.scelta {
  margin-bottom: 20px;
}

.textarea {
  width: 100%;
  border: none;
  position: relative;
}

#containerColorPicker {
  right: 0;
  bottom: 0;
  margin: auto 27px 27px auto;
}

.btn {
  width: 100%;
  height: 62px;
  display: flex;
  justify-content: center;
  margin-top: 27px;
}

form {
  width: 100%;
  height: 100%;
}

.customRadio {
  position: relative;
  width: 100%;
  height: 50px;
  margin-bottom: 13px;
  border: 1px solid #c6d1e4;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.hiddenRadio {
  position: absolute;
  visibility: hidden;
}

.active {
  background-color: var(--bg-primary-color) !important;
  color: var(--primary-color) !important;
}

#label {
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-top: 20px;
  margin-bottom: 13px;
}

.buttonPubblicazione {
  width: 100%;
  height: 54px;
  margin-top: 38px;
}

.marginInput {
  margin-bottom: 18px;
}

.validation {
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #eb5757;
  margin-top: 5px;
}

#page-title-wrapper {
  display: flex;
  align-items: center;
}

#convenzioni {
  padding-bottom: 2rem;
}

#testo {
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.checkbox {
  display: flex;
  align-items: center;
}
