<div class="container">
 

  <div *ngIf="!isEmailSent" class="email-sent">
    <div class="forgot-container">
      <div class="head email">
       
        <svg
          class="back cursor-pointer"
          [routerLink]="'/login'"
          width="8"
          height="14"
          viewBox="0 0 8 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M6.29849 0.989502L0.288086 6.99991L6.29849 13.0103L7.71271 11.5961L3.11651 6.99991L7.71271 2.40372L6.29849 0.989502Z"
            fill="#003594"
          />
        </svg>

        <h1 class="title email">Password dimenticata</h1>
      </div>

      <div>
        <div class="message">ok, ma la prossima volta segnatela. ☹️</div>

        <div *ngIf="form">
          <form
            class="login"
            [formGroup]="form"
            (ngSubmit)="onSubmitRecoveryPassword()"
          >
            <div class="email">
              <app-input
                [textLabel]="'Email*'"
                [placeholder]="'Inserisci la tua email'"
                [backgroundInput]="'var(--input-bg-color)'"
                [for]="'email'"
                [parentFormGroup]="form"
                [controlName]="'email'"
                [name]="'email'"
              >
              </app-input>
              <div *ngIf="email?.errors && email?.touched">
                <p class="validation">Campo obbligatorio</p>
              </div>
            </div>

            <div class="buttonLogin">
              <app-button
                [typeButton]="'submit'"
                [textButton]="'Invia email di recupero password'"
                [disabled]="form.invalid"
              >
              </app-button>
            </div>
          </form>
        </div>


      </div>
    </div>
  </div>

  <div *ngIf="isEmailSent" class="email-sent">
    <div class="forgot-container">
      <div class="head email">
        <h1 class="title email">Email inviata 🎉</h1>
      </div>

      <div>
        <div class="messageSent">
          Controlla la tua casella di posta per effettuare il reset della
          password.
        </div>
        <div class="buttonContainer">
          <app-button
            (click)="onReturnToLogin()"
            [typeButton]="'button'"
            [textButton]="'Torna alla Login'"
          ></app-button>
        </div>
      </div>
    </div>
  </div>
</div>
