<div *ngIf="!loading" class="cards">
  <app-card
    [@fadeInOnEnter]
    [@fadeOutRightOnLeave]
    *ngFor="let post of this.posts"
    class="card"
    background="{{ post.color }}"
    text="{{ post.text }}"
    author="@{{ post.from }}"
    postId="{{ post._id }}"
    (deletePost)="onPostDelete(post._id)"
    [isBacheca]="true"
  >
  </app-card>
</div>

<div *ngIf="loading" class="cards-loader" [@fadeInOnEnter]>
  <app-gradient-loader
    
    *ngFor="let p of [].constructor(5)"
  ></app-gradient-loader>
</div>
