.cards {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  height: auto;
}

.card {
  margin-bottom: 1.5rem;
}

.cards-loader {
    height: 121px;
    width: 100%;
}

#toast {
  position: absolute;
  bottom: 0;

  height: 62px;
  background: #ffffff;
  border: 1px solid #c6d1e4;
  border-radius: 10px;
  margin: 0 auto;
}
