@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap");

#container {
  margin: 0 auto;
  margin-top: 22px;
}

.buttonLink {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 62px;
  justify-content: center;
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}
#deleteIcon {
  position: absolute;
  right: 5%;
}
.linkWrapper {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}
a {
  width: 100%;
  text-decoration: none;
}
#wrapper {
  width: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1.5rem;
  position: relative;
}

.cards {
  height: 62px;
  width: 100%;
}
