<div id="container">
  <div *ngIf="!loading">
    <div
      *ngFor="let link of links"
      class="linkWrapper"
      [@fadeInOnEnter]
      [@fadeOutRightOnLeave]
    >
      <a [href]="link.url" target="_blank">
        <app-button
          class="buttonLink"
          [typeButton]="'button'"
          [textButton]="link.text"          
        ></app-button>
      </a>
      <div id="wrapper" *ngxPermissionsOnly="['ADMIN']">
        <div id="deleteIcon">
          <app-modal
            (deleteEvent)="onLinkDelete(link._id)"
            (editEvent)="edit(link._id)"
          ></app-modal>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="loading" class="cards" [@fadeInOnEnter]>
    <app-gradient-loader
      *ngFor="let l of [].constructor(8)"
    ></app-gradient-loader>
  </div>
</div>
