<div class="container">
  <div id="head">
    <svg
      class="back cursor-pointer"
      [routerLink]="'/profilo'"
      width="8"
      height="14"
      viewBox="0 0 8 14"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M6.29849 0.989502L0.288086 6.99991L6.29849 13.0103L7.71271 11.5961L3.11651 6.99991L7.71271 2.40372L6.29849 0.989502Z"
        fill="#003594"
      />
    </svg>

    <p id="title">Impostazioni</p>
  </div>

  <ul id="settings-list">
    <li
      *ngFor="let link of settingsLinks; index as i"
      class="links cursor-pointer"
    >
      <a *ngIf="settingsLinks[i].link" [routerLink]="settingsLinks[i].link">
        {{ settingsLinks[i].linkTitle }}</a
      >
      <a *ngIf="settingsLinks[i].mailto" [href]="settingsLinks[i].mailto">
        {{ settingsLinks[i].linkTitle }}</a
      >

      <span>
        <svg
          width="8"
          height="14"
          viewBox="0 0 8 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1.70151 13.0105L7.71191 7.00009L1.70151 0.989683L0.287294 2.4039L4.88349 7.00009L0.287292 11.5963L1.70151 13.0105Z"
            fill="#003594"
          />
        </svg>
      </span>
    </li>
  </ul>

  <div id="logout">
    <app-button-logout
      (click)="onLogout()"
      class="btn"
      [typeButton]="'submit'"
      [textButton]="'Logout'"
    >
    </app-button-logout>
  </div>

  <hr>

  <div class="socialBar">
    <div class="socialIcons">
      <a href="https://www.facebook.com/systemmanagementspa" target="_blank"
        ><img src="assets/icons/facebookBlack.jpg" alt="facebook" height="35px"
      /></a>
    </div>
    <div class="socialIcons">
      <a href="https://www.instagram.com/sysmanagement/" target="_blank"
        ><img
          src="assets/icons/Black-icon-Instagram-logo-transparent-PNG.png"
          height="35px"
          alt="instagram"
      /></a>
    </div>
    <div class="socialIcons">
      <a href="https://www.linkedin.com/company/sysmanagement/" target="_blank"
        ><img src="assets/icons/linkediBlack.png" alt="linkedin" height="35px"
      /></a>
    </div>
  </div>
</div>



<!-- <div id="settings-wrapper">
  
</div> -->
