<div id="container">
    <div id="head">
        <img class="back" src="assets/images/chevron_left.png" (click)="goBack()" />
        <p id="title">Modifica password</p>
    </div>


    <div id="form-wrapper">
        <div *ngIf="form">
            <form id="formPassword" [formGroup]="form" (ngSubmit)="onPasswordUpdate()">
                
                <div class="password">
                    <app-input [textLabel]="'Password attuale*'" [placeholder]="'Inserisci la password attuale'"
                        [backgroundInput]="'var(--input-bg-color)'" [for]="'password'" [parentFormGroup]="form"
                        [controlName]="'password'" [name]="'password'" [type]="'password'">
                    </app-input>

                </div>
                <div class="password">
                    <app-input [textLabel]="'Nuova password*'" [placeholder]="'Inserisci la nuova password'"
                        [backgroundInput]="'var(--input-bg-color)'" [for]="'newPassword'" [parentFormGroup]="form"
                        [controlName]="'newPassword'" [name]="'newPassword'" [type]="'password'">
                    </app-input>

                </div>


                <div id="buttonUpdate">
                    <app-button [typeButton]="'submit'" [textButton]="'Modifica'" [disabled]="form.invalid">
                    </app-button>
                </div>
            </form>
        </div>
    </div>
</div>