<app-sm-loader></app-sm-loader>
<div id="container">
  <div id="head">
    <svg
      class="back cursor-pointer"
      (click)="goBack()"
      width="8"
      height="14"
      viewBox="0 0 8 14"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M6.29849 0.989502L0.288086 6.99991L6.29849 13.0103L7.71271 11.5961L3.11651 6.99991L7.71271 2.40372L6.29849 0.989502Z"
        fill="#003594"
      />
    </svg>

    <p id="title">Modifica anagrafica</p>
  </div>

  <div id="form-wrapper">
    <div *ngIf="form">
      <form id="login" [formGroup]="form" (ngSubmit)="onSubmitEdit()">
        <div id="name">
          <app-input
            [textLabel]="'Nome*'"
            [placeholder]="'Inserisci il tuo nome'"
            [backgroundInput]="'var(--input-bg-color)'"
            [for]="'name'"
            [parentFormGroup]="form"
            [controlName]="'name'"
            [name]="'name'"
          >
          </app-input>
          <div *ngIf="name?.errors && name?.touched">
            <p class="validation">Campo obbligatorio</p>
          </div>
        </div>
        <div id="surname">
          <app-input
            [textLabel]="'Cognome*'"
            [placeholder]="'Inserisci il tuo cognome'"
            [backgroundInput]="'var(--input-bg-color)'"
            [for]="'cognome'"
            [parentFormGroup]="form"
            [controlName]="'cognome'"
            [name]="'cognome'"
          >
          </app-input>
          <div *ngIf="cognome?.errors && cognome?.touched">
            <p class="validation">Campo obbligatorio</p>
          </div>
        </div>

        <div id="badge">
          <app-input
            [textLabel]="'ID Badge*'"
            [placeholder]="'Inserisci il numero ID Badge'"
            [backgroundInput]="'var(--input-bg-color)'"
            [for]="'badge'"
            [parentFormGroup]="form"
            [controlName]="'badge'"
            [name]="'badge'"
          >
          </app-input>
          <div *ngIf="badge?.errors && badge?.touched">
            <div *ngIf="badge?.errors?.['required']">
              <p class="validation">Campo obbligatorio</p>
            </div>

            <div *ngIf="badge?.errors?.['pattern']">
              <p class="validation">Inserire solo numeri</p>
            </div>
          </div>
        </div>

        <div id="buttonLogin">
          <app-button
            [typeButton]="'submit'"
            [textButton]="'Modifica'"
            [disabled]="form.invalid"
          >
          </app-button>
        </div>
      </form>
    </div>
  </div>
</div>
